body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 10px;
    background-color: #ededed;
}

/* Container for the layout */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; /* Enable positioning */
}

/* Left side of the layout */
.container_flex {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Enable positioning */
    z-index: 2; /* Ensure it's on top */
}

#startButton {
    background-color: #1c1f1c; /* Green background */
    border: none; /* Remove border */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    font-size: 35px; /* Font size */
    margin-top: 20px; /* Margin on top */
    border-radius: 8px; /* Rounded corners */
}

#textSizeSlider {
    -webkit-appearance: none;
    width: 50%;
    height: 25px;
    background: #cdc9c9; /* Gray background */
    border-radius: 6px; /* Rounded corners */
}

#exercise-count {
    color: #2b2b2b;
    font-size: 25px;
    margin: 10px;
}

#exercise-name {
    color: #2b2b2b;
    font-size: 40px;
    margin: 10px;
}

#timer {
    color: #2b2b2b;
    font-size: 55px;
    margin: -5px;
}

#set-count {
    color: #2b2b2b;
    font-size: 25px;
    margin: 10px;
}

#welcomeText {
    color: #2b2b2b;
    font-size: 35px;
    margin: 25px;
}

#progress-bar-container {
    width:  100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #c2c0c0;
    opacity: 0.8;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1; /* Ensure it's behind other content */
}

#progress-bar {
    width:  100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4caf50;
    transition: width 0.5s;
    z-index: 1; /* Ensure it's behind other content */
    /* transition-timing-function: linear; */
}
